:8080, dash.fluence.dev {
    log {
        output stderr
        format console
    }

    tls alexey@fluence.one
    encode zstd gzip
    file_server
    root * /dist
    try_files {path} /index.html
}
