{
    auto_https off
}

:8080 {
    log {
        # output stdout
        # format console
        level debug
    }

    root * /dist
    try_files {path} /index.html
    file_server
    # tls alexey@fluence.one
    encode zstd gzip
}
